<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xm.study">

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- crashreport -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 友盟分享 begin -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 友盟分享 end -->
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".reflect.TestReflectActivity" />
        <activity android:name=".genericity.GenericityActivity" />
        <activity android:name=".datastructure.DataStructureActivity" />
        <activity android:name=".linechart.LineChartActivity" />
        <activity android:name=".pattern.factory.FactoryPatternActivity" />
        <activity android:name=".pattern.observer.test.ObserverPatternActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity android:name=".widget.WidgetActivity" />
        <activity android:name=".downlaod.DownloadActivity" />
        <activity android:name=".dataalgorithm.DataAlgorithmActivity" />
        <activity android:name=".staticmethod.StaticMethodActivity" />
        <activity android:name=".upwardtransiton.UpwardTransitonActivity" />

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1119170405115221#study" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".easechat.login.ECLoginActivity" />
        <activity android:name=".easechat.main.ECMainActivity" />
        <activity android:name=".easechat.chat.ECChatActivity" />
        <activity android:name=".encode.EncodeActivity" />
        <activity android:name=".picasso.PicassoActivity" />
        <activity android:name=".fastjson.FastJsonActivity" />
        <activity android:name=".recyclerview.xrecyclerview.XRecycleViewActivity" />
        <activity android:name=".cardview.CardViewActivity" />
        <activity android:name=".crashreport.CrashReportActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".okhttp.OkHttpActivity" />
        <activity android:name=".okhttp2.OkHttp2Activity" />
        <!-- 友盟分享begin -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf" />

        <!-- 友盟分享 新浪 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 友盟分享 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟分享 qq -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 友盟分享 end -->
        <activity android:name=".pattern.observer.exit.ObserverExitActivity" />
        <activity android:name=".pattern.observer.order.ObserverOrderActivity" />
        <activity android:name=".pattern.proxy.ProxySearcherActivity" />
        <activity android:name=".recyclerview.recyclerview.RecycleViewActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".dynamic1.DynamicActivity" />
        <activity android:name=".fix.andfix.AndFixActivity" />
        <activity android:name=".lvheadfixed.LVHeadFixedActivity" />
        <activity android:name=".imagecache.ImageCacheActivity" />
        <activity android:name=".fragment.FragmentTestActivity" />
        <activity android:name=".screenadaptation.ScreenAdaptationActivity" />
        <activity android:name=".keepalive.KeepAliveActivity" />

        <service android:name=".keepalive.service.GrayService" />
        <service android:name=".keepalive.service.GrayInnerService" />

        <activity android:name=".components.FourComponentsActivity" />

        <service
            android:name=".components.service.MsgService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="components.service.ByBinder"/>
            </intent-filter>
        </service>
    </application>

</manifest>